@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
    padding: 0%;
}

.pic img{
    width: 32px;
    height: 9px;
}
.pic{
    padding-top: -2px;
}
.header{
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
}
.icon{
    margin-top: -3px;
}